name: Deploy to OpenShift

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: latest
      - name: Deploy
        run: |
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_SERVER }} --insecure-skip-tls-verify
          oc project ${{ secrets.OPENSHIFT_PROJECT }}
          oc start-build ${{ secrets.OPENSHIFT_APP }} --follow
          oc rollout restart deployment/${{ secrets.OPENSHIFT_APP }}
